@page "/profile/{Id}"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@using Npgsql
@using System
@using System.Security.Cryptography
@using System.Text
@layout EmptyLayout

<PageTitle>Profile</PageTitle>

<h1>Profile Settings</h1>

<hr><br>

<EditForm Model="@newUserDto" OnValidSubmit="@UpdateAccount" style="display: flex; flex-direction: column; align-items: stretch;">
  <legend style="font-size: x-large;">Update your account</legend>

  <label asp-for="name" style="font-size: large;">Name:</label>
  <input class="form-control" asp-for="name" type="text" title="Type either your full name or your initials" required @bind-value="newName">

  <label asp-for="newPassword" style="font-size: large; margin-top: 20px;">New Password:</label>
  <input class="form-control" asp-for="newPassword" type="text" required @bind-value="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}" title="password must be at least 10 characters long and contain at least 1 of each of the following: lowercase letter, uppercase letter, number">

  <label asp-for="confirmNewPassword" style="font-size: large; margin-top: 20px;">Confirm New Password:</label>
  <input class="form-control" asp-for="confirmNewPassword" type="text" required @bind-value="confirmNewPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}" title="password must be at least 10 characters long and contain at least 1 of each of the following: lowercase letter, uppercase letter, number">

  <input type="hidden" @bind-value="Id">
  <input class="btn login-btn" type="submit" value="Update">
</EditForm>

<hr style="width: 100%; margin-top: 50px; margin-bottom: 50px;">

<EditForm Model="@deleteUserDto" OnValidSubmit="@DeleteAccount" style="display: flex; flex-direction: column; align-items: stretch;">
  <legend style="font-size: x-large;">Delete your account</legend>

  <label asp-for="toDelete" style="font-size: large;">Username:</label>
  <input class="form-control" asp-for="toDelete" type="email" title="Type your Username here" required @bind-value="toDelete"
  style="font-size: large; min-width: 225px; width: 100%; max-width: 512px;">

  <label asp-for="confirmToDelete" style="font-size: large; margin-top: 20px;">Confirm Username:</label>
  <input class="form-control" asp-for="confirmToDelete" type="email" title="Type your Username here for confirmation" required @bind-value="confirmToDelete">

  <div style="margin-top: 30px;">
    <input asp-for="comfirmDelete" type="checkbox" required name="comfirmDelete">
    <label asp-for="comfirmDelete" style="font-size: large;">Click me to further confirm that you want to delete your account</label>
  </div>

  <input type="hidden" @bind-value="Id">
  <input class="btn login-btn" type="submit" value="Delete">
</EditForm>

<br><br><br><br><br>

@code {
  
  bool isLoading = true;
  [Parameter] public string? Id { get; set; }
  string newPassword = "";
  string confirmNewPassword = "";
  public string newName = "";
  string? toDelete, confirmToDelete, comfirmDelete;

  CSE325_Team_2.DTOs.UserDto newUserDto = new CSE325_Team_2.DTOs.UserDto { Name = "", Username = "" };

  CSE325_Team_2.DTOs.UserDto deleteUserDto = new CSE325_Team_2.DTOs.UserDto { Name = "", Username = "" };

  async void DeleteAccount(EditContext editContext) {
    string connectionString = ConfigurationHelper.GetConnectionString(name: "Default");

		try {
			await using NpgsqlDataSource dataSource = NpgsqlDataSource.Create(connectionString);

      CSE325_Team_2.Services.UsersController U_Ctrlr = new CSE325_Team_2.Services.UsersController(dataSource);

      if (toDelete == confirmToDelete && toDelete != "" && toDelete != null) {
        deleteUserDto.Username = toDelete;
        deleteUserDto.Id = Convert.ToInt32(Id);
        await U_Ctrlr.DeleteUser(deleteUserDto);
        Navigation.NavigateTo(uri: "/login");
      }
		} catch (NpgsqlException ex) {
			Console.WriteLine(value: $"Error: {ex.Message}");
		}
  }

  async void UpdateAccount(EditContext editContext) {
    string connectionString = ConfigurationHelper.GetConnectionString(name: "Default");

		try {
			await using NpgsqlDataSource dataSource = NpgsqlDataSource.Create(connectionString);

      CSE325_Team_2.Services.UsersController U_Ctrlr = new CSE325_Team_2.Services.UsersController(dataSource);

      newUserDto.Name = newName;

      string sSourceData;
      byte[] tmpSource;
      byte[] tmpHash;

      sSourceData = newPassword;
      tmpSource = ASCIIEncoding.ASCII.GetBytes(sSourceData);
      tmpHash = MD5.Create().ComputeHash(tmpSource);

      string passwordHash = ByteArrayToString(tmpHash);

      static string ByteArrayToString(byte[] arrInput) {
        int i;
        StringBuilder sOutput = new StringBuilder(arrInput.Length);
        for (i=0;i < arrInput.Length; i++) {
          sOutput.Append(arrInput[i].ToString(format: "X2"));
        }
        return sOutput.ToString();
      }

      if(newPassword == confirmNewPassword) {
        Console.WriteLine(value: $"{newPassword} = {confirmNewPassword}");

        await using NpgsqlCommand cmd = dataSource.CreateCommand(commandText: "UPDATE \"Users\" SET \"Name\" = @name, \"PasswordHash\" = @password WHERE \"Id\" = @id");

        cmd.Parameters.AddWithValue(parameterName: "@id", Convert.ToInt32(Id));
        cmd.Parameters.AddWithValue(parameterName: "@name", newUserDto.Name);
        cmd.Parameters.AddWithValue(parameterName: "@password", passwordHash);

        await cmd.ExecuteNonQueryAsync();

        @* Console.WriteLine(value: $"{newUserDto.Id}\n{newUserDto.Name}\n{newUserDto.Username}\n{newPassword}"); *@
      }
		} catch (NpgsqlException ex) {
			Console.WriteLine(value: $"Error: {ex.Message}");
		}
  }
}